body {
  font-family: "Montserrat";
}
h1 {
  font-family: 'Montserrat';
  font-size: 3.2rem;
  line-height: 1.5;
  font-weight: 900;
}
h2 {
  font-family: 'Montserrat';
  font-weight: 900;
  font-size: 2.5rem;
  line-height: 1.5;
}
h3 {
  font-family: 'Montserrat';
  font-weight: 900;
  font-size: 1.1rem;
}
p {
  color: #8f8f8f;
}
.container-fluid {
  padding: 3% 10% 7%;
}
/* id */
#title {
  background-color: #ff4c68;
  color: #fff;
}
/* navigation bar */
.navbar {
  padding-bottom: 4.5rem;
}
.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}
.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat";
  font-weight: lighter;
  margin: 0 18px;
}
.download-button {
  margin: 5% 3% 5% 0;
}
.title-image {
  width: 20%;
  transform: rotate(25deg);
  position: absolute;
  right: 20%;
}

/* features section */
#features {
  padding: 7% 15%;
  background-color: #fff;
position: relative;
}
.feature-box {
  text-align: center;
  padding: 5%;
}
.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}
.icon:hover {
  color: #ff4c68;
}

/* testimonials section */

#testimonials {
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}
.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}
.carousel-item {
  padding: 7% 15%;
}
#press {
  background-color: #E8F9FD;
  text-align: center;
  padding: 5% 5%;
}
.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}
/* pricing section */
#pricing {
  text-align: center;
}
.pricing-column {
  padding: 3% 2%;
}
.card {
  background-color: #E8F9FD;
}
.text {
  padding: 3% 3%;
margin-bottom: 0;
  text-align: center;
}
#cta {
  text-align: center;
}
#footer {
  text-align: center;
  padding-top: 30px;
}
